.bg-primary {
  background-color: $theme !important;
  outline: none;
}
.btn-link{
  color: $theme !important;
  outline: none;
}
.btn-light{
  outline: none;
}
.ngb-dp-weekday {
  color: #ff9e9e !important;
}